	/*********/
	/* RESET */
	/*********/

	header, nav, footer, figure, section, article {display: block;}
	html, body, span, object, iframe, h1, h2, h3, h4, h5, h6, a, em, font, img, strong, sub, sup, dl, dt, dd, ul, ol, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, p {margin: 0;	padding: 0;	border: 0;	outline: 0; text-decoration: none;}




	/*********/
	/* GENERAL */
	/*********/


	body {
	  font-family: 'Arial', sans-serif;
		height: 100%;
		background-color: white;
	}

	/*  Modifs gabarit pri  */

#n2g_conteneur_milieu{
		padding-bottom: 0px;
}


	#n2g_zone_milieu{
	margin-top: 0px;
	}

	#n2g_zone_centre{
		padding-left: 0;
		padding-right: 0;
		width: 978px !important;
		float:none;
		height: auto !important;
	}

	a{
	  text-decoration: underline;
	}




	/*BANDEAU*/

	.expresso_wrapper{
		background-color: #ffffff
	}

	#expresso_bandeau{
	  position: relative;
	  text-align: right;
	  width: 978px;
	  height: 320px;
	  background: url('../images/theme.jpg') no-repeat;
	}

	.expresso_carre #expresso_bandeau{
	  height: 262px;
	  background: url('../images/theme_carre.jpg') no-repeat;
	}

	#expresso_bandeau .expresso_intro{
		position: absolute;
		right:0;
		top:35px;
		text-align: center;
		padding: 30px;
		padding-top: 40px;
	  color: #000000;
		width:367px;
		height: 180px;
		background-color: #ffffff;
	}

	.expresso_carre #expresso_bandeau .expresso_intro{
		height: 120px;
		padding-top: 35px;
		padding-bottom: 35px;
	}

	#expresso_bandeau .expresso_intro .titre_bordure{
		display: block;
		clear: both;
		margin:auto;
		width: 346px;
		height: 33px;
	}

	#expresso_bandeau .expresso_intro .expresso_bordure{
		display: block;
		position: relative;
		top:9px;
		height:1px;
		width:38px;
		background-color: #cb2323;
		float:left;
		margin-right:15px;
	}

	#expresso_bandeau .expresso_intro .expresso_bordure.last{
		margin-right:0px;
		margin-left:15px;
	}

	#expresso_bandeau .expresso_intro h1{
		text-transform: uppercase;
		color: #cb2323;
		font-weight: bold;
		font-size: 17px;
		margin-top:0px;
		float:left;
	}

	#expresso_bandeau .expresso_intro h1 sup{
		position: relative;
		top:-9px;
		font-size: 0.5em;
	}

	#expresso_bandeau .expresso_intro h2, #expresso_bandeau .expresso_intro h3 {
		text-transform: uppercase;
		color: #000000;
		font-weight: bold;
		margin-top: 5px;
		font-size: 27px;
		line-height: 1.7em;
	}

	#expresso_bandeau .expresso_intro h2{
			margin-top: 10px;
	}

	.expresso_carre #expresso_bandeau .expresso_intro h2{
			margin-top: 5px	;
	}


	 #expresso_bandeau .expresso_intro h3{
		 font-weight: normal;
		 line-height: 1.5em;
	 }

		#expresso_bandeau .expresso_intro h2 sup{
			position: relative;
			top:-9px;
			font-size: 0.5em;
		}


	/* ACTIONS */

	#expresso_action{
		text-align: center;
		background-color: #ffffff;
		padding: 25px 50px 25px 50px;
	}

	.expresso_wrapper.expresso_carre #expresso_action{
		background-color: #efebea;
		padding: 35px 20px 40px 20px;
	}

	#expresso_action .text_group{
		font-size:16px;
		line-height: 24px;
	}

	#expresso_action .text_group.chapo, #expresso_avantages .text_group.chapo {
		font-size:19px;
		line-height: 30px;
	}

	#expresso_action .text_group.chapo.expresso_mention_credit, #expresso_avantages .text_group.chapo.expresso_mention_credit{
		font-size:14px;
		color: #333333;
	}



	#expresso_action .text_group.chapo span{
		display: block;
		margin-top: 10px;
		line-height: 30px;
	}
	#expresso_action .text_group.chapo sup{
		position: relative;
		top:-8px;
		font-size: 0.5em;

	}



	#expresso_action .expresso_options{
		margin: auto;
		margin-top:45px;
		width: 770px;
	}



	/*  SECTIONS  */
	.expresso_section {
		clear: both;
		padding: 0px;
		margin-top: 0px;
	}

	/*  COLUMN SETUP  */
	.col {
		display: block;
		float:left;
		margin: 1% 0 1% 1.6%;
		color: #e60028;
		text-transform: uppercase;
	}
	.col:first-child { margin-left: 0; }



	/*  GROUPING  */



	.expresso_group .expresso_clearForIE7{
			clear:both;
		}

	.expresso_group {
	    zoom:1; /* For IE 6/7 */
	}

	/*  GRID */


	/* Options */

	#expresso_action .expresso_options .col {
		margin: 0% 0 0% 0;
	}

	#expresso_action .expresso_options .col:first-child { margin-left: 0; }

	#expresso_action .expresso_options .col.span_1_of_2 {
		width: 50%;
		font-size: 25px;
		color: #000;
		text-align: left;
	}

	#expresso_action .expresso_options .span_1_of_2.e1{
		width: 384px;
		border-right:1px solid #c9c9c9;
	}

	#expresso_action .expresso_options .span_1_of_2.e2{
		width: 385px;
	}

	#expresso_action .expresso_options .span_1_of_2.e2 .expresso_contenu{
		margin-left: 85px
	}


	#expresso_action .expresso_options .col span.expresso_label{
		display: block;
		width: 220px;
		margin-bottom: 15px;
		text-align: left;
		text-transform: uppercase;
		color: #333333;
		font-size: 20px;
		font-weight: normal;
		line-height: 28px;
		padding-left: 50px;
		font-weight: bold;
	}

	/* Options carre */

	.expresso_wrapper.expresso_carre #expresso_action .expresso_options .span_1_of_2.e2 .expresso_contenu{
		margin-left: 0px
	}


		.expresso_wrapper.expresso_carre #expresso_action .expresso_options{
			width: 930px;
		}

	.expresso_wrapper.expresso_carre #expresso_action .expresso_options .col span.expresso_label{
		text-align: center;
		padding-left: 0px;
		width: auto;
	}

	.expresso_wrapper.expresso_carre #expresso_action .expresso_options .col.span_1_of_2.e1 span.expresso_label,
	.expresso_wrapper.expresso_carre #expresso_action .expresso_options .col.span_1_of_2.e2 span.expresso_label{
		background-image:none;
	}

	.expresso_wrapper.expresso_carre #expresso_action .expresso_options .col.span_1_of_2.e1,
	.expresso_wrapper.expresso_carre #expresso_action .expresso_options .col.span_1_of_2.e2{
		width: 50%;
	}

	.expresso_wrapper.expresso_carre #expresso_action .expresso_options .col.span_1_of_2.e1{
		border-right: none;
	}

	.expresso_wrapper.expresso_carre #expresso_action .expresso_options .expresso_contenu .expresso_form{
		display:block;
		margin: auto;
		width: 320px;
	}


	/* FIn Options carre */

	#expresso_action .expresso_options .col.span_1_of_2.e1 span.expresso_label{
		background-image: url('../images/souscription_icon_telephone.png');
		background-repeat: no-repeat;
		background-position: 0px 10px;
	}



	#expresso_action .expresso_options .col.span_1_of_2.e2 span.expresso_label{
		background-image: url('../images/souscription_icon_agence.png');
		background-repeat: no-repeat;
		background-position: 0px 10px;
	}



	#expresso_action .expresso_form input[type="text"]{
		float:left;
	  padding: 6px 10px;
	  background-color: #fff;
	  border-radius: 4px;
	  box-shadow: none;
		-webkit-appearance: none;
	  -moz-appearance: none;
	  appearance: none;
		border: 1px solid #cccccc;
	  outline: 0;
		margin-bottom: 0;
		border-radius: 0;
		height: 46px;
		width: 222px;
		border-right: 0;
		font-size: 15px;
		color:#777;
		font-style: italic;
	}


	#expresso_action span.expresso_horaires{
		font-size: 12px;
		text-transform:none;
		display:block;
		padding-top: 10px;
		clear:both;
	}

	#expresso_action .cta_group, #expresso_avantages .cta_group {
		margin-top:60px;
		height: 95px;
		zoom: 1;
		clear:both;
	}

	#expresso_action .enveloppe_cta, #expresso_avantages .enveloppe_cta{
		margin:60px 0px 30px 0px;
	}

	#expresso_action a.expresso_button, #expresso_avantages a.expresso_button{
		text-align: center;
		margin-top: 35px;
		display: block;
		width: 305px;
		margin: auto;
		font-size: 19px;
		text-transform: uppercase;
		color: #ffffff;
		background-color: #cb2323;
		border-radius:3px;
		border-bottom: 2px solid #ad211b;
		text-decoration: none;
		padding: 22px 30px;
		cursor: pointer;
		font-weight: bold;
	}

	#expresso_action .expresso_form a.expresso_button.tel{
		float:left;
		width: auto;
		margin-top: 0px;
		font-size: 16px;
		border-radius:0px;
		padding:20px 16px;
		text-align: center;
	}

	#expresso_action .expresso_form a.expresso_button.agence{
		float:left;
		width: 240px;
		margin-top: 0px;
		font-size: 16px;
		border-radius:0px;
		padding:20px 40px 20px 20px;
		text-align: left;
	}

	#expresso_action a.expresso_button:hover, #expresso_avantages a.expresso_button:hover{
		background-color: #ad211b;
	}

	#expresso_action a.expresso_button span, 	#expresso_avantages a.expresso_button span {
		position: relative;
		width:auto;
		top:3px;
	}

	#expresso_action a.expresso_button span i.chevron, #expresso_avantages a.expresso_button span i.chevron{
		position: absolute;
		width: 10px;
		height: 16px;
		background: url('../images/chevron.png');
		background-image: -webkit-image-set( url('../images/chevron.png') 1x, url('../images/chevron-2x.png') 2x );
	  background-size: 100%;
		right:-40px;
		top:0px;
	}




	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	  #expresso_action a.expresso_button span i.chevron{
			top:23px;
		}
	}


 	/*AVANTAGES*/


	/* A.Bandeau */

	#expresso_avantages{
		background: #faf9f7;
	}

	.expresso_wrapper.expresso_bandeau #expresso_avantages .expresso_section{
		height:170px;
	}

	#expresso_avantages .expresso_section{
		margin-top: 0px;
	}

	.expresso_wrapper.expresso_carre #expresso_avantages .expresso_section{
		margin-top: 50px;
	}

	.expresso_wrapper.expresso_carre #expresso_action .expresso_options{
		margin-top: 0px;
	}

	#expresso_avantages .expresso_section .col{
		margin: 0% 0 1% 0%;
		text-align: center;
	}

	#expresso_avantages .expresso_section .col.span_1_of_4 {
		width: 22%;
		background: url('../images/fleche_bas.png');
		background-image: -webkit-image-set( url('../images/fleche_bas.png') 1x, url('../images/fleche_bas-2x.png') 2x );
		background-repeat: no-repeat;
		background-position: top center;
	}

	#expresso_avantages .expresso_section .col.span_1_of_4.rapide {
		width: 222px;
	}

#expresso_avantages .expresso_section .col.span_1_of_4.simple_width {
	width: 32%;
}



#expresso_avantages .expresso_section .col.span_1_of_4.last {
	width: 22%;
}

#expresso_avantages .expresso_section .col.span_1_of_4.simple_width ul {
	text-align: left;
}

#expresso_avantages .expresso_section .col{
	margin: 0% 0 1% 0%;
	text-align: center;
}


	#expresso_avantages .expresso_section .col.span_1_of_4 .expresso_contenu{
		margin: 30px 25px 20px 25px;
	}

	#expresso_avantages .expresso_section .col.span_1_of_4 .expresso_contenu strong, .expresso_wrapper.expresso_carre #expresso_avantages .expresso_section .col.span_1_of_2 .expresso_contenu strong{
		font-size: 14px;
		color: #1e709e;
		line-height: 22px;
	}

	#expresso_avantages .expresso_section .col.span_1_of_4 .expresso_contenu strong{
		font-size: 16px;
	}

	#expresso_avantages .expresso_section .col.span_1_of_4 .expresso_contenu ul strong{
		font-size: 14px;
	}

	#expresso_avantages .expresso_section .col.span_1_of_4 .expresso_contenu span strong{
		font-size: 14px;
	}

	.expresso_wrapper.expresso_carre #expresso_avantages .expresso_section .col.span_1_of_2 .expresso_contenu strong{
		font-size: 22px;
	}

	.expresso_wrapper.expresso_carre #expresso_avantages .expresso_section .col.span_1_of_2 .expresso_contenu span.expresso_a_titre{
		font-size: 22px;
		font-weight: normal;
		color: #1e709e;
		display: inline;
	}


	.expresso_wrapper.expresso_carre #expresso_avantages .expresso_section .col.span_1_of_2 .expresso_contenu span strong{
		font-size: 14px;
		color: #333333;
	}

	#expresso_avantages .expresso_section .col.span_1_of_4 .expresso_contenu span strong,
	 #expresso_avantages .expresso_section .col.span_1_of_4 .expresso_contenu ul strong{
		color: #333333;
	}

	#expresso_avantages .expresso_section .col.span_1_of_4 .expresso_contenu strong sup,
	 .expresso_wrapper.expresso_carre #expresso_avantages .expresso_section .col.span_1_of_2 .expresso_contenu strong sup{
		font-size: 9px;
		top: -5px;
	}

	#expresso_avantages .expresso_section .col.span_1_of_4 .expresso_contenu span,
	#expresso_avantages .expresso_section .col.span_1_of_4 .expresso_contenu ul ,
	.expresso_wrapper.expresso_carre #expresso_avantages .expresso_section .col.span_1_of_2 .expresso_contenu span,
	.expresso_wrapper.expresso_carre #expresso_avantages .expresso_section .col.span_1_of_2 .expresso_contenu ul{
		display: block;
		text-transform:none;
		font-size: 14px;
		color: #333333;
		margin-top: 10px;
    line-height: 20px;
		list-style-type: none;
		}

	.expresso_wrapper.expresso_carre #expresso_avantages .expresso_section .col.span_1_of_2 .expresso_contenu ul strong{
		color: #333333;
		font-size: 14px;
	}

	.expresso_wrapper.expresso_carre #expresso_avantages .expresso_section .col.span_1_of_2 .expresso_contenu ul li{
		list-style-type:none

	}

	#expresso_avantages .expresso_section .col.span_1_of_4 .expresso_contenu span sup,
	 .expresso_wrapper.expresso_carre #expresso_avantages .expresso_section .col.span_1_of_2 .expresso_contenu span sup{
		font-size: 9px;
		top: -3px;
	}


	/* A.Carré */

	.expresso_wrapper.expresso_carre #expresso_avantages{
		text-align: center;
		padding: 40px 70px;
		padding-bottom: 25px;
		background-color: #ffffff;
	}

	.expresso_wrapper.expresso_carre #expresso_avantages .text_group.chapo{
		margin-bottom: 0px;
	}



  .expresso_wrapper.expresso_carre #expresso_avantages .cta_group{
		margin-top: 60px;
	}

	.expresso_wrapper.expresso_carre #expresso_avantages .expresso_section .col{
		margin: 0% 0 0% 0%;
		text-align: left;
	}

	.expresso_wrapper.expresso_carre #expresso_avantages .expresso_section .col.span_1_of_2{
		width: 50%;
	}

	.expresso_wrapper.expresso_carre #expresso_avantages .expresso_section .col.span_1_of_2 .expresso_contenu{
		margin-left:120px;
		height:100px;
		padding-right: 50px;
	}

	.expresso_wrapper.expresso_carre #expresso_avantages .expresso_section .col.span_1_of_2.e2 .expresso_contenu,
	.expresso_wrapper.expresso_carre #expresso_avantages .expresso_section .col.span_1_of_2.e4 .expresso_contenu{
		padding-right: 20px;
	}

	.expresso_wrapper.expresso_carre #expresso_avantages .expresso_section .col.span_1_of_2.e1 .expresso_contenu,
	 .expresso_wrapper.expresso_carre #expresso_avantages .expresso_section .col.span_1_of_2.e2 .expresso_contenu{
		margin-bottom: 25px;
	}

	.expresso_wrapper.expresso_carre #expresso_avantages .expresso_section .col.span_1_of_2.e3 .expresso_contenu,
	 .expresso_wrapper.expresso_carre #expresso_avantages .expresso_section .col.span_1_of_2.e4 .expresso_contenu{
		margin-top: 40px;
	}

	.expresso_wrapper.expresso_carre #expresso_avantages .expresso_section .col.span_1_of_2.e1{
		background-image: url('../images/avantages_picto_en_ligne.png');
		background-repeat: no-repeat;
		background-position: 44px 10px;
		width: 418px;
		border-right:1px solid #c9c9c9;
		border-bottom:1px solid #c9c9c9;
	}

	.expresso_wrapper.expresso_carre #expresso_avantages .expresso_section .col.span_1_of_2.e2{
		background-image: url('../images/avantages_picto_simple.png');
		background-repeat: no-repeat;
		background-position: 44px 10px;
		border-bottom:1px solid #c9c9c9;
	}

	.expresso_wrapper.expresso_carre #expresso_avantages .expresso_section .col.span_1_of_2.e3{
		background-image: url('../images/avantages_picto_rapide.png');
		background-repeat: no-repeat;
		background-position: 44px 50px;
		width: 418px;
		border-right:1px solid #c9c9c9;
	}

	.expresso_wrapper.expresso_carre #expresso_avantages .expresso_section .col.span_1_of_2.e4{
		background-image: url('../images/avantages_picto_flexible.png');
		background-repeat: no-repeat;
		background-position: 44px 50px;
	}




	/*MENTIONS LEGALES*/

	#mentions_legales {
	  padding: 30px;
		padding-bottom: 10px;
		font-size: 10px;
	  color: #888888;
		background: #ffffff;
	}

	#mentions_legales a{
	  color: #666666;
	}

	#mentions_legales .expresso_mentions{
		counter-reset: mention_count;
	  margin-bottom: 10px;
	}

	#mentions_legales .expresso_mentions dt {
		position: relative;
	  padding: 0px 0 7px 0;
	  padding-left: 25px;
	  line-height: 15px;
	}

	#mentions_legales .expresso_mentions dt span{
	    position: absolute;
	    left: 0;
	    top: 0;
	    *top:-5px;
	    font-size: 10px;
	}

	#mentions_legales .expresso_mentions dt.last {
	  margin-bottom: 0;
	}


		#mentions_legales .expresso_mentions.small{
			font-size: 12px;
			line-height: 16px;
		}
